<mat-drawer-container class="example-container" autosize>
    <!-- SIDEBAR -->
<mat-drawer
        [opened]="!isMobile()"
        #drawer
        class="example-sidenav"
        [mode]="isMobile() ? 'over' : 'side'"
    >
<mat-list>
        <a routerLink="home" mat-list-item>Inicio</a>
        <a routerLink="students" mat-list-item>Estudiantes</a>
        <a routerLink="cursos" mat-list-item>Cursos</a>
        <a (click)="logout()" mat-list-item>Cerrar sesion</a>
</mat-list>
    </mat-drawer>
    <!-- SIDEBAR -->

    <!-- CONTENIDO A LA DERECHA DEL SIDEBAR -->
    <div class="example-sidenav-content">
<!-- TOOLBAR SUPERIOR -->


<mat-toolbar color="primary">
    <div class="d-flex justify-content-between align-items-center w-100">
    <div>
        <button
            (click)="drawer.toggle()"
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
        >
        <mat-icon>menu</mat-icon>
        </button>
        <span>Academi</span>
    </div>
      <div *ngIf="authStudent$ | async as student">
        {{ student?.name }}
    </div>
    </div>
</mat-toolbar>


<main style="padding: 1rem">

    <div>
        <button (click)="login()" color="primary" mat-flat-button>Iniciar Sesion</button>
    </div>
    

        <router-outlet/>
        <!-- <app-students />  -->
</main>

<!-- TOOLBAR SUPERIOR -->

    </div>
</mat-drawer-container>
